<!-- views/pages/contacts.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body>
  <div id="wrapper">

    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <div id="page-wrapper">

        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="row">
            <div class="col-lg-12">
              <h1 class="page-header">
                Contacts <small>Networking Contacts</small>
              </h1>
              <ol class="breadcrumb">
                <li class="active">
                  <i class="fa fa-user"></i> Contacts
                </li>
              </ol>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <a href="/contacts/add">
              <input value="Add new contact" id="contactAddButton" type="submit" class="btn btn-custom">
            </a>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </div>
    </main>

  </div>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>

