<!-- views/pages/dashboard.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body>
  <div id="wrapper">

    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <div id="page-wrapper">

        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="row">
            <div class="col-lg-12">
              <h1 class="page-header">
                Dashboard <small> Recruiting Overview</small>
              </h1>
<!--               <ol class="breadcrumb">
                <li class="active">
                  <i class="fa fa-dashboard"></i> Dashboard
                </li>
              </ol> -->
            </div>
          </div>
          <!-- /.row -->

          <alerts>
            <% include ../partials/alerts %>
          </alerts>

<!--           <% if(message != null) {%>
          <div class="row">
            <div class="col-lg-12">
              <div class="alert alert-info alert-dismissable">
                <%=message%>
              </div>
            </div>
          </div>
          <% }%> -->
          <!-- /.row -->

          <div class="row">

            <!-- SUMMARIES OF MAIN DATA MODELS -->
            <div class="col-lg-6 col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-3">
                      <i class="fa fa-briefcase fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <div class="huge"><%= data["jobs"] %></div>
                      <div>Pending Applications</div>
                    </div>
                  </div>
                </div>
                <a href="/jobs">
                  <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                  </div>
                </a>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-3">
                      <i class="fa fa-envelope fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <div class="huge"><%= data["unread"] %></div>
                      <div>New Messages</div>
                    </div>
                  </div>
                </div>
                <a href="/messages">
                  <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                  </div>
                </a>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-3">
                      <i class="fa fa-calendar fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <div class="huge"><%= data["events"] %></div>
                      <div>Upcoming Events</div>
                    </div>
                  </div>
                </div>
                <a href="/events">
                  <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                  </div>
                </a>
              </div>
            </div>

            <!-- NEWS FEED -->
            <div class="col-lg-6 col-md-6">
              <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-globe fa-fw"></i> News Feed</h3>
                  </div>
                  <div class="panel-body panel-height">
                    <div class="list-group" id="newsfeed">
                      
                    </div>
                  </div>
                  <div class="panel-footer">
                  </div>
                </div>
            </div>
          </div>


        </div>
        <!-- /.container-fluid -->
      </div>
    </main>

  </div>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>

