<!-- views/pages/documents.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body>
  <div id="wrapper">

    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <div id="page-wrapper">

        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="row">
            <div class="col-lg-12">
              <h1 class="page-header">
                Documents <small>Application Materials</small>
              </h1>
            </div>
          </div>

            <div class="row">
                <div class="col-md-6">
                   <form id="fileSubmitForm" role="form" method="post" action="/documents/upload" enctype="multipart/form-data">
                    <span class="btn btn-default btn-file">
                        Browse&hellip; <input id="docFileToUpload" type="file" class="file-upload" name="file" >
                    </span>
                    <input id="fileSubmitButton" type="submit" class="btn btn-custom">
                  </form> 
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
      </div>
    </main>

  </div>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>

