<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body>
<div id="wrapper">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div id="page-wrapper">
      grapist
    </div>
<!--     <div class="jumbotron">
      <% if(message){ %>
        <div class="alert alert-success" role="alert"><%=message %></div>
      <% }%>
      <h1>inturn.io</h1>
      <p>Turn up your career</p>
      <% if(!currentUser){ %>
        <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Sign up &raquo;</a></p>
      <% } %>

    </div> -->
  </main>

</div>
  <footer>
    <% include ../partials/footer %>
  </footer>


</body>
</html>