<!-- views/pages/messages.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body>
  <span
    class="g-signin"
    data-callback="handleClientLoad"
    data-clientid="1073490943584-jihl83sesm1qcm10lik7mu86t5ioh5g5.apps.googleusercontent.com"
    data-cookiepolicy="single_host_origin"
    data-scope="https://www.googleapis.com/auth/calendar.login">
  </span>
  <div id="wrapper">

    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <div id="page-wrapper">

        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="row">
            <div class="col-lg-12">
              <h1 class="page-header">
                Messages <small>Messages Overview</small>
              </h1>
              <ol class="breadcrumb">
                <li class="active">
                  <i class="fa fa-dashboard"></i> Messages
                </li>
              </ol>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
      </div>
    </main>

  </div>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>

