
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Custom styles for this template -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/cover.css" rel="stylesheet">

  <title>inturn</title>

</head>

<body>

  <div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="cover-container">

        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">inturn</h3>
            <nav>
              <ul class="nav masthead-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Features</a></li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="inner cover">
          <h1 class="cover-heading">Turn up your career.</h1>
          <p class="lead"><b>inturn</b> centralizes your internship or job recruitment process
            to allow you to spend more time preparing and less time organizing</p>
          <p class="lead">
            <form class="navbar-form" role="search" method="post" action="/login_post">
              <p>
                <div class="form-group">
                  <input type="email" class="form-control" name="username" placeholder="Email">
                </div>
              </p>
              <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password">
              </div>
            </p>
            <p class="lead">
              <button type="submit" name="sb" value="login" class="btn btn-success">Log In</button>
              <button type="submit" name="sb" value="signup" class="btn btn-primary">Sign Up</button>
            </p>
            </form>
            <% if(message) {%>
            <div class="alert alert-danger role="alert"><%=message %></div>
            <%}%>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <% include ../partials/footer %>
            </div>
          </div>

        </div>

      </div>

    </div>


  </body>
  </html>
