<div class="modal fade" id="addDocumentForJobModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="addDocumentForJobForm" role="form" method="post" action="/jobs/add_document">
                <div class="modal-header">
                    <h4 class="modal-title">Add Document</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputFileName">File name</label>
                            <input type="text" class="form-control" id="inputFileName" name="name">   
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input id="fileSubmitButton" type="submit" class="btn btn-custom">
                </div>
            </form>
        </div>
    </div>
</div>
