<!-- views/pages/jobs.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../partials/head %>
</div>
</head>

<body>
  <div id="wrapper">

    <header>
      <% include ../../partials/header %>
    </header>

    <main>
      <div id="page-wrapper">

        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="row">
            <div class="col-lg-12">
              <h1 class="page-header">
                Job Applications <small>Overview</small>
              </h1>
              <ol class="breadcrumb">
                <li class="active">
                  <i class="fa fa-briefcase"></i> Jobs
                </li>
              </ol>
            </div>
          </div>

          <alerts>
            <% include ../../partials/alerts %>
          </alerts>

          <div class="row">
            <div class="col-lg-12">

              <div class="file-option-container padding-5">
                <button id="addJobButton" class="btn btn-primary" data-toggle="modal" data-target="#newJobModal">Add New Job</button>
              </div>

            </div>
          </div>
          <div class="row">&nbsp;</div>
          <div class="row" style="overflow: hidden;">
            <% for(var i=0; i<jobs.length; i++) {%>

            <!-- Information for a single application -->
            <div class="col-lg-3 col-md-6">
              <div class="panel panel-default">
                <% if (jobs[i].get("status") == "no_offer") {%>
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-2">
                      <i class="fa fa-briefcase fa-2x"></i>
                    </div>
                    <div class="col-xs-10 text-right">
                      <div class="item-header"><%= jobs[i].get("company") %></div>
                      <div><%= jobs[i].get("title") %></div>
                    </div>
                  </div>
                </div>
                <a href="/jobs/view/<%= jobs[i].id %>">
                  <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                  </div>
                </a>
              </div>
            </div>
            <!-- End of single app -->

            <% } %>
          </div>

        </div>
        <!-- /.container-fluid -->
      </div>
    </main>

  </div>


  <add>
    <% include ../../partials/jobs_add %>
  </add>

  <footer>
    <% include ../../partials/footer %>
  </footer>

</body>
</html>

